<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie-edge">
<title>Ejemplo de BootStrap en Spring</title>
<link rel ="stylesheet" href="/css/bootstrap.min.css">
<link rel ="stylesheet" href="http://use.fontawesome.com/release/v5.7.0/css/all.css">
<script src"../../static/js/jquery-1.8.0.min.js"></script>
<script scr="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron">
<h1 class="display-4">Usando Bootstrap</h1>
<p class="Lead">
Ejemplo de BootStrap en Spring
</p>
<hr class="my-4">
<p>El siguiente es el cuerpo del documento...</p>
<div>
<p>Contenido del documento...</p>
</div>
<hr class="my-4">
<div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
<p>Desarrollo Web Avanzado. Lizmaybeti Garcia Rodriguez</p>
<p>ITSSNP 2022.</p>
</div>
<div class="col-2"></div>
</div>
</div>
</div>
</div>
</body>
</html>